{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meal Buddy</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">

        <div class="card" style="text-align:center; margin-top:120px; width:500px; margin-left:auto; margin-right:auto;">

            <h1>Welcome to Meal Buddy 🍔</h1>

            <p style="font-size:18px; color:gray;">
                Order delicious meals from your favorite restaurants.
            </p>

            <br>

            <a href="open_signup" class="btn">
                SIGN UP
            </a>

            <br><br>

            <a href="open_signin" class="btn">
                SIGN IN
            </a>

        </div>

    </div>

</body>

</html>